body{
    text-align: center;
}

.catalog{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0 10% 0 10%;
}

.rows{
    display: flex;
    flex-direction: row;
}

.good{
    width: 22%;
    margin-left: 4%;
    margin-top: 50px;
    height: 700px;
}

.good:first-child{
    margin-left: 0%;
}

.good img{
    width: 100%;
    height: 550px;
}

#svyaz{
    text-align: center;
    background-color: aqua;
}

#auth{
    text-align: center;
    background-color: orange;
}

.enter{
    color: black;
    text-decoration: none;
}

.tab{
    width: 30%;
    margin: 0 35%;
}

/*------------------------------------------------------------------------------*/

.center{
    /*text-align: center;
    font-weight: bold;*/
    font-size: 50pt;
    font-family: 'Dancing Script', cursive;
}

.right_user{
    float: right;
    margin-top: -60px;
    font-family: 'Lobster', cursive;
    font-size: 16pt;
}

.selector{
    margin-top: 50px;
}

body{
    background: url(../pict/backgound.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.good{
    background: rgba(255, 250, 250, 0.5);
    box-shadow: 0 0 20px 5px rgba(255, 250, 250, 0.5);
    border-radius: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.but_style{
    background-color: #555555;
    color: white;
    border: 2px solid #555555;
    margin: 5px;
}

.but_style a{
    color: white;
}

.but_style:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.text{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/*----------------------------------------------------------------------------------------------------*/

.main_page{
    margin: 50px;
}

.main_page img{
    float: left;
    width: 25%;
    height: 800px;
}

.three_text{
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 75%;
}

.three_text .but_style{
    width: 90px;
    margin-left: 48%;
}

.name{
    font-family: 'Lobster', cursive;
    background: rgba(255, 250, 250, 0.5);
    box-shadow: 0 0 20px 5px rgba(255, 250, 250, 0.5);
    border-radius: 10px;
    font-size: 30pt;
    margin-left: 30px;
}

.char{
    font-family: "Comic Sans MS", cursive, sans-serif;
    background: rgba(255, 250, 250, 0.5);
    box-shadow: 0 0 20px 5px rgba(255, 250, 250, 0.5);
    border-radius: 10px;
    width: 25%;
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
    padding: 30px;
}

.description{
    font-family: "Comic Sans MS", cursive, sans-serif;
    background: rgba(255, 250, 250, 0.5);
    box-shadow: 0 0 20px 5px rgba(255, 250, 250, 0.5);
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 30px;
    padding: 30px;
    text-align: left;
    height: 50%;
}